
  <div id="google_translate_element" style="display: none;"></div>
  <span class="ct-language">
     <ul class="list-unstyled ct-language-dropdown">
       <li>
          <a href="#" class="lang-select" data-lang="es">
          <img src="https://www.countryflags.io/mx/flat/64.png" title="México">
          </a>
       </li>
        <li>
           <a href="#" class="lang-select" data-lang="en">
           <img src="https://www.countryflags.io/gb/flat/64.png" title="English">
           </a>
        </li>
        <li>
           <a href="#" class="lang-select" data-lang="fr">
           <img src="https://www.countryflags.io/fr/flat/64.png" title="Franch">
           </a>
        </li>
        <li>
           <a href="#" class="lang-select" data-lang="zh-CN">
           <img src="https://www.countryflags.io/cn/flat/64.png" title="Chinese(Simple)">
           </a>
        </li>
        <li>
           <a href="#" class="lang-select" data-lang="ja">
           <img src="https://www.countryflags.io/jp/flat/64.png" title="Japan">
           </a>
        </li>
        <li>
           <a href="#" class="lang-select" data-lang="ko">
           <img src="https://www.countryflags.io/kr/flat/64.png" title="Korean">
           </a>
        </li>
        <li>
           <a href="#" class="lang-select" data-lang="ru">
           <img src="https://www.countryflags.io/ru/flat/64.png" title="Russia">
           </a>
        </li>
     </ul>
  </span>
  <script type="text/javascript">
     function googleTranslateElementInit() {
       new google.translate.TranslateElement({
         pageLanguage: '',
         autoDisplay: false,
         layout: google.translate.TranslateElement.InlineLayout.VERTICAL
       }, 'google_translate_element');
     
       function restoreLang() {
         var iframe = document.getElementsByClassName('goog-te-banner-frame')[0];
         if (!iframe) return;
     
         var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
         var restore_el = innerDoc.getElementsByTagName("button");
     
         for (var i = 0; i < restore_el.length; i++) {
           if (restore_el[i].id.indexOf("restore") >= 0) {
             restore_el[i].click();
             var close_el = innerDoc.getElementsByClassName("goog-close-link");
             close_el[0].click();
             return;
           }
         }
       }
     
       function triggerHtmlEvent(element, eventName) {
         var event;
         if (document.createEvent) {
           event = document.createEvent('HTMLEvents');
           event.initEvent(eventName, true, true);
           element.dispatchEvent(event);
         } else {
           event = document.createEventObject();
           event.eventType = eventName;
           element.fireEvent('on' + event.eventType, event);
         }
       }
     
       var googleCombo = document.querySelector("select.goog-te-combo");
       var langSelect = document.querySelector('.ct-language');
       langSelect.addEventListener('click', function(event) {
         if (!event.target) {
           return;
         }
     
         var selected = document.querySelector('.ct-language .ct-language-selected');
         if (selected) {
           selected.classList.remove('ct-language-selected');
         }
     
         var target = event.target;
         while (target && target !== langSelect ) {
           if (target.matches('.lang-select')) {
             break;
           }
           target = target.parentElement;
         }
     
         if (target && target.matches('.lang-select')) {
           var lang = target.getAttribute('data-lang');
           if (lang == "es") {
             restoreLang();
           } else {
             target.parentElement.classList.add('ct-language-selected');
             googleCombo.value = lang;
             triggerHtmlEvent(googleCombo, 'change');
           }
         }
     
         event.preventDefault();
       });
     }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</span>