<!DOCTYPE html>
<html lang="es"  itemscope itemtype="http://schema.org/Blog">
<head>
        {% include 'head' %}
        {% block head %}{% endblock head %}
</head>

<body>  
        {% include 'header' %}
        <div class="page-content">
            <div class="wrapper">
                {% block content %}
                {% endblock %}
            </div>
          </div>
        {% include 'footer' %}
</body>
</html>
