<!DOCTYPE html>
<html lang="es"  itemscope itemtype="http://schema.org/Blog">
<head>
        {% include 'head' %}
        {% block head %}{% endblock head %}
</head>

<body style="position: relative; min-height: 100%; top: 0px;">  
        {% include 'header' %}
        {% include 'banner' %}
        

        {% include theme_toggle %}

        <div class="page-content">
            <div class="wrapper">
                <div class="framework">
                    <section class="main">
                {% block content %}
                {% endblock %}
                    </section>
                    <section class="sidebar">
                {% block sidebar %}
                {% endblock %}
                    </section>
                </div>
            </div>
        </div>
        {% include 'footer' %}
</body>
</html>
