{% extends 'base' %}
{% block content %}
<h1>{{ post.title }}</h1>
{% block post_content %}
{% endblock %}
<p style="font-size: x-small; color: gray;">This page contains affiliate links, which means I may earn a very small commision off your purchase without you paying more. And for that, I thank you.</p>
{% endblock %}
