{% extends 'base' %}
{% block content %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content e-content" itemprop="articleBody">
        <h1>{{post.title}}</h1>
        {% block post_content %}{% endblock %}
    </div>
</article>
{% endblock %}

{% block sidebar %}
 {% include article_menu %}
{% endblock %}