{% extends framework %}

{% block framework_content %}
<h1>THing</h1>
<div class="page-segments">
  <ul class="page-segments-list">
    {% for k in tagCollection %}
      <h2 id="{{k[0]}}">{{k[0]}}</h2>
      {% for post in k[1] %}
        <li>
          <span class="post-meta">{{ post.date_time | date: "MMMM dd, yyyy" }}</span>
          <span>
            <a class="post-link" href="{{ post.canonical_url | relative_url }}">
            {{ post.title | escape }}
            </a>
          </span>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
