  <div class="paginator">
    <span class="previous">
    {% if paginator.has_previous_page %}
      <a href="{{ paginator.previous_page_url }}">Página {{ paginator.previous_page }}</a>
    {% else %}
      <span>Nada por aquí 😎</span>
    {% endif %}
    </span>
    <span class="indicator"> {{ paginator.page }}/{{ paginator.total_pages }}</span>
    <span class="next">
    {% if paginator.has_next_page %}
      <a href="{{ paginator.next_page_url }}">Página {{ paginator.next_page }}</a>
    {% else %}
      <span>😎 Nada por acá</span>
    {% endif %}
    </span>
  </div>